<div class="navbar-css">
  <header class="d-flex justify-content-between align-items-center mx-auto">
    {{#if profilePage}}
    <h1><a href="/profile">Profile</a></h1>
    {{else}}
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="#">
      <img src="/assets/clove-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <b class="nav-title">CLOVE</b>
      </a>
    </nav>
    {{/if}}
    <nav>
      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/profile">Profile</a>
        <a href="/baskets">Search <i class="fas fa-search"></i></a>
        {{#if loggedIn}}
        <a id="logout">Logout</a>
        {{else}}
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        {{/if}}
      </div>
    </nav>
  </header>
</div>