<div>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Rating: </li>
      <li class="list-group-item">Message: </li>
      <li class="list-group-item">Stock: </li>
    </ul>
  </div>

  <div>
    <section>
      <div>
        <img src="" alt="" />
      </div>
      <div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{username}}</li>
          <li class="list-group-item">{{zip_code}}</li>
        </ul>
      </div>
    </section>
  </div>
</div>