<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLOVE</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center mx-auto">
            {{#if profilePage}}
                <h1><a href="/dashboard">Profile</a></h1>
            {{else}}
                <h1><a href="/">CLOVE</a></h1>
            {{/if}}
            <nav>
                <a href="/">Home</a>
                <a href="/profile">Profile</a>
                {{#if loggedIn}}
                <a id="logout">logout</a>
                {{else}}
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
                {{/if}}
            </nav>
        </header>
    </div>
    
    <main class="mx-auto">
        <div>{{{body}}}</div>
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>