<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLOVE</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div>
        <header class="d-flex justify-content-between align-items-center mx-auto">
            {{#if profilePage}}
                <h1><a href="/profile">Profile</a></h1>
            {{else}}
                <h1><a href="/">CLOVE</a></h1>
            {{/if}}
            <nav>
                <a href="/">Home</a>
                <a href="/profile">Profile</a>
                <a href="/listing"><i class="fas fa-search"></i></a>
                {{#if loggedIn}}
                <a id="logout">logout</a>
                {{else}}
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
                {{/if}}
            </nav>
        </header>
    </div>
    
    <main class="mx-auto">
        <div>{{{body}}}</div>
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</html>