<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="assets/gardenimg.png" alt="Card image cap">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">Mission Statement</h5>
            <div class="card-body">
                <p>CLOVE, pronounced ‘see love’, is a community engagement application for backyard gardeners and lovers of fresh local produce. Standing for Community - Local, Organic, Vegetable, Exchange, CLOVE seeks to connect community members through an online interface.</p>
                <p>Producers can list their harvests for others to see, and consumers can use the interface to search for local produce. Additionally, you’ll find links to resources that can put you in touch with local charities that accept food donations, as well as food banks that are active in your area.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <h5 class="card-header">Donate: Ample Harvest</h5>
            <div class="card-body">
                <p class="card-text">Ample Harvest is a nationwide resource working to elmiate food waste.  To connect with Ample harvest to donate your surplus vegetables or to read more about their mission, click the link below.</p>
                <a href="https://www.ampleharvest.org/donate-food/" class="btn btn-primary">Link to their page!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <h5 class="card-header">Donate: Feeding America</h5>
            <div class="card-body">
                <p class="card-text">Feeding America is a nationwide network of foodbanks where individuals can find resources in their local communties.  To find a foodbank near you, click the link below.</p>
                <a href="https://www.feedingamerica.org/find-your-local-foodbank" class="btn btn-primary">Link to their page!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">

    </div>
</div>