<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/gardenimg.png" class="d-block w-100" alt="garden-img-1" style="height: 550px" id="clove-carousel1">
    </div>
    <div class="carousel-item">
      <img src="assets/gardenimg2.png" class="d-block w-100" alt="garden-img-2" style="height: 550px" id="clove-carousel2">
    </div>
    <div class="carousel-item">
      <img src="assets/gardenimg3.png" class="d-block w-100" alt="garden-img-3" style="height: 550px" id="clove-carousel3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
        <div class="card-header">Mission Statement</div>
      <div class="card-body">
        <p>CLOVE, pronounced ‘see love’, is a community engagement application for backyard gardeners and lovers of fresh local produce.</p>
        <p>Standing for Community - Local, Organic, Vegetable, Exchange, CLOVE seeks to connect community members through an online interface.</p>
        <p>Producers can list their harvests for others to see, and consumers can use the interface to search for local produce. Additionally, you’ll find links to resources that can put you in touch with local charities that accept food donations, as well as food banks that are active in your area.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <div class="card-header">Donations</div>
      <div class="card-body">
        <p>Ample Harvest is a nationwide resource working to elmiate food waste.  To connect with Ample harvest to donate your surplus vegetables or to read more about their mission, click the link below.</p>
        <button class="donate-btn"><a href="https://www.ampleharvest.org/donate-food/">Ample Harvest Website</a></button>
        <p></p>{{!-- new line tag --}}
        <p>Feeding America is a nationwide network of foodbanks where individuals can find resources in their local communties.  To find a foodbank near you, click the link below.</p>
        <button class="donate-btn"><a href="https://www.feedingamerica.org/find-your-local-foodbank">Feeding America Website</a></button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <div class="card-header">About Us</div>
      <div class="card-body">
        <p>CLOVE</p>
        <p>\’klōv\</p>
        <p>Definition of clove (Entry 1 of 2): one of the small bulbs (as in garlic) developed in the axils of the scales of a large bulb</p>
        <p>\’sē \ˈləv</p>
        <p>Definition of clove (Engry 2 of 2): a new application for community involvement in sharing locally produced organic vegetables exchanged locally</p>
      </div>
    </div>
  </div>
</div>