<div class="grid-container">
    <div class="grid-item-1">
        <img class="card-img-top" src="assets/gardenimg.png" alt="Card image cap">
    </div>
    <div class="grid-item-2">
        <h3>Mission Statement</h3>
        <p>CLOVE, pronounced ‘see love’, is a community engagement application for backyard gardeners and lovers of fresh local produce.</p>
        <p>Standing for Community - Local, Organic, Vegetable, Exchange, CLOVE seeks to connect community members through an online interface.</p>
        <p>Producers can list their harvests for others to see, and consumers can use the interface to search for local produce. Additionally, you’ll find links to resources that can put you in touch with local charities that accept food donations, as well as food banks that are active in your area.</p>
        <p>Helping communities share their resources through exchange in their local communities prevents food waste and helps to support local economies and charities.</p>
    </div>
    <div class="grid-item-3">
        <h3>Donate</h3>
        <p>Ample Harvest is a nationwide resource working to elmiate food waste.  To connect with Ample harvest to donate your surplus vegetables or to read more about their mission, click the link below.</p>
        <button class="donate-btn"><a href="https://www.ampleharvest.org/donate-food/">Ample Harvest Website</a></button>
        <p>Feeding America is a nationwide network of foodbanks where individuals can find resources in their local communties.  To find a foodbank near you, click the link below.</p>
        <button class="donate-btn"><a href="https://www.feedingamerica.org/find-your-local-foodbank">Feeding America Website</a></button>
    </div>
    <div class="grid-item-4">
        <h3>About The Name</h3>
        <p>CLOVE</p>
        <p>\’klōv\</p>
        <p>Definition of clove (Entry 1 of 2): one of the small bulbs (as in garlic) developed in the axils of the scales of a large bulb</p>
        <p>\’sē \ˈləv</p>
        <p>Definition of clove (Engry 2 of 2): a new application for community involvement in sharing locally produced organic vegetables exchanged locally</p>
    </div>
    <div class="grid-item-5">
        <h3>Statistics</h3>
        <p>To Be filled in soon!</p>
    </div>
</div>
