<div class="container">
    <div class="image"></div>
    <div class="statement"></div>
    <div class="donate"></div>
    <div class="about">
        <p>CLOVE</p>
        <p>\’klōv\</p>
        <p>Definition of clove (Entry 1 of 2): one of the small bulbs (as in garlic) developed in the axils of the scales of a large bulb</p>
        <p>\’sē \ˈləv</p>
        <p>Definition of clove (Engry 2 of 2): a new application for community involvement in sharing locally produced organic vegetables exchanged locally</p>
    </div>
    <div class="stats"></div>
</div>