<div>
  <div class='card mx-auto'>
    <div class='card-body'>
      <div class='card-title mt-2 mb-5'>
        <h2 class='text-center'>Change Location</h2>
      </div>
      <form class='profile-edit-form my-3'>
        <div class='form-group my-3'>
          <label for='newZip'>Enter Your New Zip Code </label>
          <input type='text' class='form-control' id='newZip' />
        </div>
        <div class='form-group my-3'>
          <label for='username'>Enter Your Username </label>
          <input type='text' class='form-control' id='username' />
        </div>
        <div class='form-group my-3'>
          <button
            type='submit'
            class='btn btn-primary d-block mt-2 w-50 mx-auto'
          >Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src='/js/location-edit.js'></script>