<div>
  <div class='card w-50 mx-auto'>
    <div class='card-body'>
      <div class='card-title'>
        <h2 class='text-center'>Change Location</h2>
      </div>
      <form class='profile-edit-form'>
        <label for='newZip'>Enter your new Zip Code </label>
        <div class='form-group'>
          <input type='text' class='form-control' id='newZip' />
        </div>

        <div class='form-group'>
          <button
            class='btn btn-primary d-block mt-2 mx-auto'
            type='submit'
          >Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src='/js/location-edit.js'></script>