<ul class="nav nav-tabs" id="messageTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="inbox-tab" data-bs-toggle="tab" data-bs-target="#inbox" type="button" role="tab" aria-controls="inbox" aria-selected="true">Inbox</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="sent-tab" data-bs-toggle="tab" data-bs-target="#sent" type="button" role="tab" aria-controls="sent" aria-selected="false">Sent</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="compose-tab" data-bs-toggle="tab" data-bs-target="#compose" type="button" role="tab" aria-controls="compose" aria-selected="false">Compose</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="inbox" role="tabpanel" aria-labelledby="inbox-tab">
    {{#each messageReceived}}
      {{> message-received-list}}
    {{/each}}
  </div>
  <div class="tab-pane fade" id="sent" role="tabpanel" aria-labelledby="sent-tab">
    {{#each messageSent}}
      {{> message-sent-list}}
    {{/each}}
  </div>
  <div class="tab-pane fade" id="compose" role="tabpanel" aria-labelledby="compose-tab">

  </div>
</div>