<div class="card">
    <div class="card-body">
        <div class="card-title mt-2 mb-5">
            <h2>Post New Basket</h2>
        </div>
        <form>
            <div class="form-group my-2">
                <label for="product-select">Product Select</label>
                <select class="form-control" id="product-select">
                    <option data-id="1">organic apple</option>
                    <option data-id="2">organic onion</option>
                    <option data-id="3">organic tomato</option>
                    <option data-id="4">organic potato</option>
                    <option data-id="5">organic carrot</option>
                    <option data-id="6">organic celery</option>
                    <option data-id="7">organic orange</option>
                    <option data-id="8">organic broccoli</option>
                    <option data-id="9">organic peach</option>
                    <option data-id="10">organic cauliflower</option>
                    <option data-id="11">organic spinach</option>
                    <option data-id="12">organic cabbage</option>
                    <option data-id="13">organic cucumber</option>
                    <option data-id="14">organic asparagus</option>
                    <option data-id="15">organic pineapple</option>
                    <option data-id="16">organic strawberry</option>
                    <option data-id="17">organic blueberry</option>
                    <option data-id="18">organic cranberry</option>
                    <option data-id="19">organic banana</option>
                    <option data-id="20">organic watermelon</option>
                    <option data-id="21">organic plum</option>
                    <option data-id="22">organic lemon</option>
                    <option data-id="23">organic grape</option>
                    <option data-id="24">organic kiwifruit</option>
                    <option data-id="25">organic coconut</option>
                    <option data-id="26">organic avocado</option>
                    <option data-id="27">organic cantaloupe</option>
                    <option data-id="28">organic clementine</option>
                    <option data-id="29">organic cherry</option>
                    <option data-id="30">organic broccoli</option>
                    <option data-id="31">organic grapefruit</option>
                    <option data-id="32">organic mango</option>
                    <option data-id="33">organic lychee</option>
                </select>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="stock">Stock:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="stock" placeholder="5">
                        <div class="input-group-postpend">
                            <div class="input-group-text">lb</div>
                        </div>
                    </div>
                </div>
                <div class="col form-group">
                    <label for="price">Price:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input type="text" class="form-control" id="price" placeholder="4.99">
                        <div class="input-group-postpend">
                            <div class="input-group-text">/lb</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="3"></textarea>
            </div>
            <div class="form-group my-3">
                <button type="submit" class="btn mb-2 d-block mx-auto w-25">Create</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/newBasket.js"></script>
