<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h2>Create a new basket</h2>
        </div>
        <form>
            <div class="form-group">
                <label for="product-select">Product Select</label>
                <select class="form-control" id="product-select">
                    <option data-id="1">tomato</option>
                    <option data-id="2">raddish</option>
                    <option data-id="3">apples</option>
                    <option data-id="4">broccoli</option>
                    <option data-id="5">orange</option>
                    <option data-id="6">carrot</option>
                </select>
            </div>
            <div class="form-group">
                <label for="stock">Stock:</label>
                <input type="text" class="form-control" id="stock" placeholder="5 lb">
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" class="form-control" id="price" placeholder="$4.99/lb">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn  mb-2">Create</button>
        </form>
    </div>
</div>
<script src="/js/newBasket.js"></script>
