<div class='card'>
  <div class='card-body'>
    <div class='card-title mt-2 mb-5'>
      <h2>Post New Basket</h2>
    </div>
    <form>
      <div class='form-group my-2'>
        <label for='product-select'>Product Select</label>
        <select class='form-control' id='product-select'>
          {{#each products}}
            <option data-id='{{id}}'>{{#if organic}}organic{{/if}}
              {{name}}</option>
          {{/each}}
        </select>
      </div>
      <div class='row'>
        <div class='col form-group'>
          <label for='stock'>Stock:</label>
          <div class='input-group'>
            <input
              type='text'
              class='form-control'
              id='stock'
              placeholder='5'
            />
            <div class='input-group-postpend'>
              <div class='input-group-text'>lb</div>
            </div>
          </div>
        </div>
        <div class='col form-group'>
          <label for='price'>Price:</label>
          <div class='input-group'>
            <div class='input-group-prepend'>
              <div class='input-group-text'>$</div>
            </div>
            <input
              type='text'
              class='form-control'
              id='price'
              placeholder='4.99'
            />
            <div class='input-group-postpend'>
              <div class='input-group-text'>/lb</div>
            </div>
          </div>
        </div>
      </div>
      <div class='form-group mb-3'>
        <label for='description'>Description</label>
        <textarea class='form-control' id='description' rows='3'></textarea>
      </div>
      <div class='form-group my-3'>
        <button
          type='submit'
          class='btn mb-2 d-block mx-auto w-25'
        >Create</button>
      </div>
    </form>
  </div>
</div>
<script src='/js/newBasket.js'></script>