<div>
  <div class="card w-50 mx-auto">
    <div class="card-body">
      <div class="card-title">
        <h2 class="text-center">Upload Your Profile Picture</h2>
      </div>
      <form class="profile-edit-form">
        <div class="form-group">
          <input type="file" class="form-control" id="file" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary d-block mt-2 mx-auto" type="submit">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>
  {{!-- <form>
    <label for="avatar">Choose a profile picture:</label>
    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
    <button id="upload" type="submit">upload</button>
  </form> --}}



<script src="/js/profile-edit.js"></script>