<div>
  <div class='card' style='width: 18rem;'>
    <ul class='list-group list-group-flush'>
      <li class='list-group-item'>Rating: </li>
      <li class='list-group-item'>Message: </li>
      <li class='list-group-item'>Stock: </li>
    </ul>
  </div>
  {{! This section needs styling as well as more content }}
  <div>
    <section>
      <div>
        <img src='' alt='' />
      </div>
      <div>
        <ul class='list-group list-group-flush'>
          <li class='list-group-item'>{{username}}</li>
          <li class='list-group-item'>{{zipcode}}</li>
        </ul>
      </div>
    </section>
  </div>
</div>

{{! Ratings section for my ratings from other users ATTACHED TO PROFILE COLUMN }}

{{! My basket middle column for all my active listings with stock price description product id, NEEDS add more button on bottom of section }}

{{! Message column Left hand side, with message cards stacked on top of each other from other users. }}