<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <img class="card-img-top" src="/assets/profile.jpeg" alt="Card image cap">
        <h5 class="card-title">Hello {{username}}!</h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Message</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">M1</li>
          <li class="list-group-item">M2</li>
          <li class="list-group-item">M3</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Rating</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">R1</li>
          <li class="list-group-item">R2</li>
          <li class="list-group-item">R3</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="row baskets-display">
      {{#each baskets}}
        {{> profile-basket-list}}
      {{/each}}
    </div>
    <div class="position-fixed b-3 w-60">
      <button class="d-block mx-auto">+ Add New Item</button>
    </div>
  </div>
  
</div>

