<div>
  <div class="card mx-auto">
    <div class="card-body">
      <div class="card-title mt-3 mb-3">
        <h2 class="text-center">Upload Your Profile Picture</h2>
      </div>
      <form class="profile-edit-form">
        <div class="form-group my-3">
          <label for="file"></label>
          <input type="file" class="form-control" id="file" />
          <small id="fileHelp" class="form-text text-muted">Size should be no more than 1MB</small>
        </div>
        <div class="form-group my-3">
          <button class="btn btn-primary d-block mt-2 w-25 mx-auto" type="submit">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/profile-edit.js"></script>