<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <img class="card-img-top" src="/assets/profile.jpeg" alt="Card image cap">
        <h5 class="card-title">Hello {{username}}!</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Average Rating: {{ratingAverage}}</li>
        </ul>
      </div>
    </div>
    <div class="card profile-small-section">
      <div class="card-body">
        <a href="/profile/message">
          <h5 class="card-title">Messages</h5>
          <ul class="list-group list-group-flush">
            {{#each messages}}
              {{> profile-message-list}}
            {{/each}}
          </ul>
        </a>
      </div>
    </div>
    <div class="card profile-small-section">
      <div class="card-body">
        <h5 class="card-title">Ratings</h5>
        <ul class="list-group list-group-flush">
          {{#each ratings}}
            {{> profile-rating-list}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="row baskets-display">
      {{#each baskets}}
        {{> profile-basket-list}}
      {{/each}}
    </div>
    <div class="position-fixed w-60">
      <button id="new-basket" class="d-block mx-auto">+ Add New Item</button>
    </div>
  </div>
</div>

<script src="/js/profile.js"></script>

