<ul class="nav nav-tabs" id="ratingTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="received-tab" data-bs-toggle="tab" data-bs-target="#received" type="button" role="tab" aria-controls="received" aria-selected="true">Received</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="posted-tab" data-bs-toggle="tab" data-bs-target="#posted" type="button" role="tab" aria-controls="posted" aria-selected="false">Posted</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="rate-tab" data-bs-toggle="tab" data-bs-target="#rate" type="button" role="tab" aria-controls="rate" aria-selected="false">Rate</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="received" role="tabpanel" aria-labelledby="received-tab">
    {{#each ratingReceived}}
      {{> rating-received-list}}
    {{/each}}
  </div>
  <div class="tab-pane fade" id="posted" role="tabpanel" aria-labelledby="posted-tab">
    {{#each ratingPosted}}
      {{> rating-posted-list}}
    {{/each}}
  </div>
  <div class="tab-pane fade" id="rate" role="tabpanel" aria-labelledby="rate-tab">
      <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h2>Rate</h2>
            </div>
            <form id="form-create-rating-with-name">
                <div class="form-group">
                    <label for="recipient">To:</label>
                    <input type="text" class="form-control" id="recipient">
                </div>
                <div class="form-group">
                    <label for="product">About:</label>
                    <input type="text" class="form-control" id="product">
                </div>
                <div class="form-group">
                    <label for="score-select">STAR</label>
                    <select class="form-control" id="score-select">
                        <option>*****</option>
                        <option>****</option>
                        <option>***</option>
                        <option>**</option>
                        <option>*</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" rows="5"></textarea>
                </div>
                <button type="submit" class="btn  mb-2">Post</button>
            </form>
        </div>
    </div>
  </div>
</div>

<script src="/js/newRating.js"></script>
