<div>
  <h1>
    Upload
  </h1>
  <form>
    <label for="avatar">Choose a profile picture:</label>
    <input type="file" id="avatar" name="avatar" value={} accept="image/png, image/jpeg">
    <button id="upload" type="submit">upload</button>
  </form>

</div>


<script src="/js/test.js"></script>