body {
    background-color: #EEE1C6;
    font-family: 'B612';
}

header, main{
    width: 80%;
}
main {
    margin-top: 40px;
}

.nav-title {
    color: white;
}

.navbar-css {
    background-color: #00471B;
    margin-top: 0;
}

.w-60 {
    width: 60%;
}

.baskets-display {
    border: solid black 2px;
    height: 100%;
}

.basket-list-card {
    padding: 5px 10px;
}

h1 {
    color: white;
}

h3 {
    background-color: #00471B;
    padding: 5px;
    color: white;
}

a {
    text-decoration: none;
}

nav a {
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding: 20px;
}

.nav-links a:hover {
    background-color: #EEE1C6;
    border-radius: 5px;
    color: black;
}

.profile-small-section {
    height: 170px;
    overflow: auto;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header-left header-left header-left header-right header-right header-right'
        'left-one left-one center-one center-one right-one right-one';
    grid-gap: 10px;
    padding: 10px;

}

.grid-item-1 {
    grid-area: header-left;
    font-size: smaller;
    text-align: center;
}

.grid-item-2 {
    grid-area: header-right;
    font-size: smaller;
    text-align: justify;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.grid-item-3 {
    grid-area: left-one;
    font-size: smaller;
    text-align: justify;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.grid-item-4 {
    grid-area: center-one;
    font-size: smaller;
    text-align: justify;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.grid-item-5 {
    grid-area: right-one;
    font-size: smaller;
    text-align: justify;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.donate-btn {
    border: none;
    padding: 5px;
    padding: 5px;
}