:root {
  --yellow-light: #eee1c6;
  --green-light: rgb(9, 99, 69);
  --green-hover: rgba(26, 82, 43, 0.7);
  --green-dark: #00471b;
  --background-color: rgba(188, 194, 188, 0.2);
}

body {
  font-family: 'B612';
  color: var(--green-dark);
  background-color: var(--yellow-light);
}

header,
main {
  width: 80%;
}

main {
  margin-top: 40px;
}

.nav-title,
h1,
h3,
nav a,
.donate-btn a {
  color: var(--yellow-light);
}

.card li {
  background-color: inherit;
  color: var(--green-dark);
}

.card-body,
.card-title {
  color: var(--green-dark);
}

.navbar-css {
  background-color: var(--green-dark);
  margin-top: 0;
}

.baskets-display {
  height: 93%;
}

.basket-list-card {
  padding: 5px 10px;
}

h3 {
  background-color: var(--green-dark);
  padding: 5px;
}

a {
  text-decoration: none;
}

nav a {
  padding-left: 30px;
  padding-right: 30px;
  padding: 20px;
}

.nav-links a:hover,
.panel-body,
.nav-tabs .nav-link {
  background-color: var(--yellow-light);
  color: var(--green-dark);
}

.card-header {
  font-size: 1.3rem;
}

.card-header,
.btn,
.panel-heading,
.nav-tabs button.nav-link.active {
  background-color: var(--green-dark);
  color: var(--yellow-light);
}

.card-body {
  background-color: var(--background-color);
  color: var(--green-dark);
}

.profile-small-section .card-body {
  height: 150px;
  overflow: auto;
}

.row {
  padding-bottom: 20px;
}

.donate-btn {
  border: none;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
}

.btn:hover {
  background-color: var(--green-hover);
  color: var(--yellow-light);
}

#search-by {
  border: none;
  padding: 5px;
  background-color: var(--green-dark);
  color: var(--yellow-light);
  border-radius: 5px;
}

#basket-display {
  padding: 15px;
}

#new-basket {
  margin-top: 10px;
}

#clove-carousel1,
#clove-carousel2,
#clove-carousel3 {
  border-radius: 5px;
}

#carouselExampleControls {
  margin-bottom: 20px;
}
